PORT=5001
MASTER_KEY=SA-ACC-MASTER-2026
JWT_SECRET=sa_accounting_super_secret_jwt_key_2026
DATABASE_FILE=./database.sqlite

# Whop Developer Platform Credentials (Get from https://whop.com/developer)
WHOP_API_KEY=whop_api_key_here
WHOP_PRODUCT_ID=prod_xxxxxxxxxxxxx
WHOP_PLAN_ID=plan_xxxxxxxxxxxxx
WHOP_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxx
WHOP_CHECKOUT_URL=https://whop.com/checkout/prod_xxxxxxxxxxxxx
